/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
ul,li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
body {
    background-color: #222222;
}

/* Common Classes */
#habit {
    padding: 100px 0px;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.text-center {
    text-align: center;
}

/* Header Part */
#header {
    background-color: rgb(17, 17, 17);
}


/* Navbar Part */
#nav {
    padding: 56px 0px 32px 0px;
}
.navbar {
    align-items: center;
    justify-content: space-between;
}
.logo > span{
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    color: #E6533C;
}
.navLink ul {
    padding: 10px 0px;
    border-radius: 30px;
    border: 1px solid #6c6c6c;
}
.navLink ul {
    gap: 20px;
}
.navLink ul a {
    padding: 10px;
    font-size: 18x;
    font-weight: 600;
    color: #f1f1f1;
    border-radius: 30px;
    transition: all linear 0.2s;
}
.navLink ul a:hover {
    color: #fff;
    background-color: #E6533C;
}
.mobile {
    font-size: 24px;
    display: none;
}
/* Banner Part */
.banner_container {
    grid-template-columns: repeat(2, 1fr);
}
.banner_left {
    padding-bottom: 70px;
}
.banner_left h1{
    font-size: 78px;
    font-weight: 900;
    color: #fff;
    padding-bottom: 28px;
}
.banner_left h1 > span {
    font-family: "Ballet", cursive;
}
.banner_left p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff7d;
    padding-bottom: 28px;
}
.banner_left button {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 42px;
    padding: 16px 45px;
    background-color: transparent;
    border: 2px solid #6c6c6c;
    transition: all linear 0.2s;
    margin-right: 20px;
    
}
.banner_left button:hover {
    border-color: #E6533C;
    background-color: #E6533C;
}
.banner_right {
    background-image: url(../images/Images\ 2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    flex-direction: column;
    justify-content: space-around;
}
.banner_tag {
    width: 25%;
    text-align: center;
    padding: 17px 24px;
    border-radius: 15px;
    background-color: #ffffff39;
}
.banner_tag h3{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.banner_tag p{
    font-size: 13px;
    font-weight: 400;
    color: #ffffffb0;
}
.right_1s {
    margin-top: 108px;
    justify-content: right;
}
.right_2nd {
    justify-content: center;
}

/* Title Part */
.title {
    margin-bottom: 54px;
}
.title h2{
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    padding-bottom: 14px;
}
.title p{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff4d;
}
/* Habit Part */
.habit_container {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.habit_card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.card_img {
    width: 180px;
    border-radius: 50%;
    border: 5px solid #6c6c6c;
    align-items: center;
}
.card_img img {
    border-radius: 50%;
}
.habit_card h4 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.habit_card p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffffb0;
}

/* Run Part */
.run_container {
    padding: 25px;
    background-color: #6c6c6c71;
    border-radius: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
}
.run_left h4 {
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    padding-bottom: 10px;
}
.run_left p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffffb0;
    margin-bottom: 15px;
}
.run_left button {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 16px 70px;
    border: 1px solid #E6533C;
    background: #E6533C;
    border-radius: 30px;
    transition: all linear 0.2s;
}
.run_left button:hover {
    background-color: transparent;
}
.run_right img {
    border-radius: 20px;
}
/* Training Part */
#training {
    padding: 100px 0px;
}
.row1 {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 220px
}
.row2 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 220px
}
.item_1 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,255,128,0.23021708683473385) 0%), url(../images/exercise1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.item_2 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,29,0,0.23021708683473385) 0%), url(../images/exercise2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.item_3 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,16,16,0.14058123249299714) 0%), url(../images/exercise3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.item_4 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,16,16,0.38707983193277307) 0%), url(../images/exercise4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.item_5 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,248,0,0.30024509803921573) 0%), url(../images/exercise5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.item_6 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,198,255,0.3310574229691877) 0%), url(../images/exercise6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* BMI Part CSS */
#bmi {
    background-color: #6c6c6c71;
    padding: 40px 0px;
}

.bmi_container {
    grid-template-columns: repeat(2, 1fr);
}

.bmi_left h3 {
    font-size: 28px;
    font-weight: 900;
    color: #fff;
    padding-bottom: 52px;
}
.bmi_left  table {
    border-collapse: collapse;
    color: #fff;
}

.bmi_left  th, td {
    border: 1px solid #ffffff72;
    color: #fff;
    padding: 10px 40px 10px 40px;
    text-align: center;
}

.bmi_left td {
    color: #ffffffb0;
}
.bmi_right h2 {
    font-size: 28px;
    font-weight: 900;
    color: #fff;
    padding-bottom: 14px;
}
.bmi_right p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff72;
    line-height: 24px;
    padding-bottom: 34px;
}
.bmi_right form input {
    width: 260px;
    border: none;
    background-color: #f1f1f169;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
}
.bmi_right form input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #ffffffb0;
}
.bmi_right form .sex {
    width: 280px;
    border: none;
    background-color: #f1f1f169;
    color: #ffffffb0;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
}
.bmi_right form .activity {
    width: 100%;
    border: none;
    background-color: #f1f1f169;
    color: #ffffffb0;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
}
.bmi_right form button {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 70px;
    border-radius: 30px;
    border: 2px solid #E6533C;
    background-color:  #E6533C;
    transition: all linear 0.2s;
}
.bmi_right form button:hover {
    background: transparent;
}

/* Team Part CSS */
#team {
    padding: 85px 0px;
}
.team_container {
    background-color: #6c6c6c71;
    padding: 30px;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 272px 272px;
    gap: 20px;
}
.team1 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,14,14,0.1601890756302521) 0%), url(../images/trainer1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}
.team2 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,14,14,0.1601890756302521) 0%), url(../images/trainer2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}
.team3 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,14,14,0.1601890756302521) 0%), url(../images/trainer3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}
.team4 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,14,14,0.1601890756302521) 0%), url(../images/trainer4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}
.team5 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,14,14,0.1601890756302521) 0%), url(../images/trainer5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}
.team6{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,14,14,0.1601890756302521) 0%), url(../images/trainer6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

/* Footer Part */
#footer {
    padding: 65px 0px 35px 0px;
    background-color: #6c6c6c71;
}
.footer_container {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
}
.footer_start span {
    font-size: 70px;
    font-weight: 700;
    font-style: italic;
    color: #E6533C;
    padding-bottom: 20px;
}
.footer_start p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffffb0;
    line-height: 24px;
}
.footer_center h5{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
}
.footer_center> ul {
    flex-direction: column;
    gap: 15px;
}
.footer_center ul li a {
    font-size: 18px;
    font-weight: 400;
    color: #ffffffb0;
    margin-bottom: 25px;
}
.footer_end h5{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
}
.footer_end> ul {
    flex-direction: column;
    gap: 15px;
}
.footer_end ul li a {
    font-size: 18px;
    font-weight: 400;
    color: #ffffffb0;
    margin-bottom: 25px;
}
.footer_center h5{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
}
.footer_center> ul {
    flex-direction: column;
    gap: 15px;
}
.footer_center ul li a {
    font-size: 18px;
    font-weight: 400;
    color: #ffffffb0;
    margin-bottom: 25px;
}


/* Copyright Part */
.copyright_container {
    padding-top: 35px;
    border-top: 1px solid #6c6c6c;
    text-align: center;
}
.copyright_container small {
    font-size: 20px;
    color: #ffffffb0;
}